.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .flex-item {
    background-color: #ffffff;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: calc(25% - 20px); /* Adjusting for margins */
    box-sizing: border-box;
    flex: 1 1 calc(25% - 20px); /* Allows flex items to grow and shrink */
  }
  
  .flex-item:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .plane-image-div {
    text-align: center;
    margin-bottom: 10px;
    height: 220px;
  }
  
  .plane-image-div img {
    max-width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
  }
  
  .info-div p {
    margin: 5px 0;
  }
  .h21-spot{
    text-align: center;
  }

  .h2-spot{
    text-align: center;
  }