.parking-spot-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 30px;
  background-color: #f0f0f0;
  border-radius: 5px;
  justify-content: center;
  align-items: flex-start;
  max-height: 100%;
  overflow-y: auto;
}

.flex-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  min-width: 250px;
  height: 500px;
  text-align: center;
  transition: box-shadow 0.3s ease;
  box-sizing: border-box;
  margin-bottom: 20px;
  overflow: hidden;
}

.flex-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.plane-image-div img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.info-div {
  margin-top: 10px;
}

.info-div p {
  margin: 3px 0;
  color: #333;
  padding: 3px;
}

.occupied {
  border-left: 5px solid #007bff;
}

.empty {
  border-left: 5px solid #28a745;
}

button.remove-button {
  background-color: #dc3545;
  color: white;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.assign-button {
  background-color: #62eb4d;
  color: white;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-modal-button {
  background-color: #28a745;
  color: white;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-modal-button:hover {
  background-color: #218838; 
}

a.nav-link,
.spot-info,
.aircraft-info {
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
}

a.nav-link:hover {
  text-decoration: none;
}