.parking-spot-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ddd; 
  border-radius: 5px; 
  background-color: #f9f9f9; 
}

.flex-item {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: calc(25% - 10px); 
  text-align: center;
  transition: box-shadow 0.3s ease;
  box-sizing: border-box; 
}

.flex-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.plane-image-div img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.info-div {
  margin-top: 10px;
}

.info-div p {
  margin: 3px 0;
  color: #333; 
}

.occupied {
  border-left: 5px solid #007bff; 
}

.empty {
  border-left: 5px solid #28a745; 
}

.h2-spot {
  text-align: center;
  margin: 20px 0;
}