.fuel-request-list {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for each individual fuel request */
.fuel-request {
    margin-bottom: 20px; /* Increased margin between each fuel request */
    padding: 15px; /* Increased padding for better separation */
    border-radius: 8px;
    background-color: #fff; /* White background */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    color: #333; /* Default text color */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.fuel-request:hover {
    background-color: #f0f0f0; /* Light gray background on hover */
}

/* Specific styles for different fuel types */
.fuel-type-label {
    color: #333; /* Default text color for fuel type */
}

.jet-a .fuel-type-label {
    color: #000000; /* Black text for Jet A fuel type */
}

.avgas-100ll .fuel-type-label {
    color: #002bd6; /* Blue text for Avgas 100LL fuel type */
}

.unleaded-94 .fuel-type-label {
    color: #eafe06; /* Yellow text for Unleaded 94 fuel type */
}

.unleaded-100 .fuel-type-label {
    color: #7781d3; /* Light blue text for Unleaded 100 fuel type */
}

/* Button styles for different status */
.button-container {
    margin-top: 10px;
}

.button-container button {
    margin-right: 10px;
    margin-top: 5px;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    color: #0c0c0c; /* White text for buttons */
    background-color: rgba(0, 0, 0, 0.5); /* Darker background color with some transparency */
}

.button-container button:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Darker background color on hover */
}


/* Conditional styles based on is_completed */
.fuel-request.completed {
    background-color: #28a745; /* Completed color */
}

.fuel-request.en-route {
    background-color: #ffc107; /* Pending color */
}

.fuel-request.needs-asap {
    background-color: #dc3545; /* Priority color */
}