.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative; 
    bottom: 0;
    width: 100%;
    /* margin-bottom: 10px; */
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
}

.social-links a:hover {
    text-decoration: underline;
}