.aircraft-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.aircraft-details h2 {
  margin-bottom: 20px;
}

.aircraft-details img {
  max-width: 300px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.aircraft-details .details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 800px;
  width: 100%;
}

.details-container div {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details-container p {
  margin: 5px 0;
}

.details-container span {
  font-weight: bold;
}

.owners-list {
  width: 100%; /* Ensure the owners list takes full width */
  margin-top: 20px; /* Add margin to separate it from the buttons */
}

.owners-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.owner-card {
  flex: 1 1 calc(50% - 20px); /* Adjust the basis to ensure two cards per row with gap */
  background: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.owner-card p {
  margin: 5px 0;
}

.owner-card span {
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px; /* Set a max-width for the button container */
  margin-top: 20px; /* Add some top margin to separate the buttons from the owner list */
}

.update-button, .delete-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 150px; /* Set a max-width for the buttons */
  height: 40px; /* Set a fixed height for the buttons */
  display: flex;
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.update-button:hover {
  background-color: #0056b3 !important;
}

.delete-button {
  background-color: #dc3545 !important;
}

.delete-button:hover {
  background-color: #c82333 !important;
}